/* Universal Selector - Resets Margins and Padding on all elements */
*{
  margin: 0;
  padding: 0;
}

/* Image Styling - just add a class="img-left" or "img-right" to each image */
.img-right {
  float: right;
  margin: 15px 0 15px 30px;
  border: 1px solid #ccc;
  padding: 5px;
}

.img-left {
  float: left;
  margin: 15px 30px 15px 0;
  border: 1px solid #ccc;
  padding: 5px;
}

/* Hyperlinks Link | Visited | Hover | Active - Style all four*/
#content a:link {
 color: #126E9D;
}

#content a:visited {
  color: #999;
}

#content a:hover {
 text-decoration: none;
 background: #fff;
 font-weight: bold;
}

#content a:active {
 text-decoration: none;
 background: #fff;
 font-weight: bold;
}

body {
  background: #91B1C8;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 100%;
}

main {
 width: 960px; 
 background: #FDF2E9;
 margin-left: auto;
 margin-right: auto;
 margin-top: 30px;
 margin-bottom: 30px; 
 /* Shorthand */ 
 margin: 30px auto;
 border: 2px solid #000;
 border-radius: 6px;
}

header.primary {
  background:#126E9D;
  background:url(../img/prototype-header-image.jpeg);
  margin-bottom: 20px;
}

header.primary h1{
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px #000;
}

header.primary h1 a {
  display: block;
  height: 180px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 2px 2px #000;
}

#content {
  width: 670px;
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
  line-height: 1.6;
}

#content h2 {
  margin: 12px 0 18px 0;
  color: #126E9D;
  border-bottom: 1px dotted #000;
}

#content h3 {
  margin: 12px 0 18px 0;
  color: #126E9D;
}

#content h4 {
    margin: 12px 0 18px 0;
    border-left: 5px solid #126E9D;
    padding-left: 15px;
}

#content table {
  width: 100%;
  margin: 12px 0 18px 0;
  border: 2px solid #ccc;
  padding: 5px;
}

#content table caption {
  margin: 12px 0 18px 0;
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 2px;
}

#content th {
  background: #126E9D;
  color: #fff;
  padding: 5px;
}

/* Nth-Child - A selector that allows us to apply properties to specific items in an element rather than all items in the element */
#content tr:nth-child(even) {
background: #ccc;
}

#content table tr:hover{
  background: slategrey;
}

#content td {
  border-top: 2px solid #ccc;
  padding: 5px;
  text-align: center;
}

#content p {
  margin: 12px 0 18px 0;
}

#content ul, #content ol {
  margin: 12px 0 18px 40px;
}

#content dl {
  margin: 12px 0 18px 0;
}

#content dt {
  font-weight: bold;
}

/*Adjacent sibling combinator*/
dd + dt { 
  margin-top: 15px;
} 

#content blockquote {
  margin: 12px 40px 18px 40px;
  background: #c0c0c0;
  padding: 30px;
  border-left: 5px solid #999;
  border-right: 5px solid #999;
}

nav.primary {
  width: 200px;
  float: left;
  margin-left: 30px;
}

ul#main-nav li {
  list-style: none;
  margin: 0 0 5px 0;
}

ul#main-nav li a {
  text-decoration: none;
  display: block;
  padding: 0.8em 0.8em;
  border-left: 0.4em solid #126E9D;
  color: #fff;
  background: #126E9D;
  text-shadow: 1px 1px #000;
  border-radius: 6px;
}

ul#main-nav li a:hover {
  border-left: 0.4em solid #126E9D;
  color: #fff;
  background: #91B1C8;
  text-shadow: 2px 2px #000;
}

footer.primary {
  clear: both;
  background: #126E9D;
  padding: 15px 30px;
  color: #fff;
}

/* -------- Single Column Template -----*/

.single-col #content {
  width: 900px;
}